html, body {
    height: 100%;
}

body {
    font-family: Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: #e7e5c8;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #e7e5c8;
    text-decoration: none;
}

.content {
    flex: 1 0 auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #837a82;
    position: relative;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.gallery-item {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.gallery-item img {
    max-width: 100%;
    height: auto;
}
.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container {
    margin-top: 25px;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

img {
    max-height: 250px; 
    object-fit: cover;  
}

.footer text-center py-3 {
    background-color: #e7e5c8;
}





